.errorePage {
    position: relative;
    background: var(--bgGradient);
    border-radius: 30px;
    padding: 30px;
    margin: 50px;
    margin-right: 35px;
    transition: all 500ms ease;
}

.errorePage__close {
    position: absolute;
    top: 20px;
    right: 20px;
}

.close {
    display: none;
}

@media (max-width: 400px) {
    .errorePage {
        padding: 15px;
        margin: 30px;
    }
}